spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: voting-backend

  datasource:
    url: jdbc:postgresql://localhost:5433/voting_db
    username: voting_user
    password: voting_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
logging:
  level:
    org.hibernate: ERROR
    org.hibernate.SQL: OFF
    org.hibernate.type.descriptor.sql.BasicBinder: OFF

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  mail:
    host: smtp.gmail.com
    port: 587
    username: azanovskiy04@gmail.com
    password: epkvdvfubokctlyr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  cache:
    type: caffeine
    caffeine:
      spec: expireAfterWrite=5m

app:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration: 86400000 # 24 hours
  auth:
    code-expiration-minutes: 5
